<header>
  <div class="inner">
    <nav>
      <table>
        <tbody>
        <tr>
          <td>
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/NASA_logo.svg/1224px-NASA_logo.svg.png"
              height="100"
            />
          </td>
          <td>
            <a routerLink="/" class="logo"
            ><h1>
              Mars Rover Photo Gallery
            </h1>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
      <input type="checkbox" id="nav" /><label for="nav"></label>
    </nav>
  </div>
  <div class="second"></div>
</header>
