<header>
  <div class="inner">
    <nav>
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/NASA_logo.svg/1224px-NASA_logo.svg.png"
        height="100"
      />

      <a routerLink="/" class="logo"
        ><img
          src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.15752-9/79122059_1164223933783065_3634468692437237760_n.png?_nc_cat=101&_nc_ohc=4Pgno4jVoGEAQk3QKtOliwAtbf86zK3KK_rV7CAzOl3_DXwmngoi-02Rg&_nc_ht=scontent-vie1-1.xx&oh=7597d67c58c2f00055806f268bdc775c&oe=5E7ABC07"
          class="nameLogo"
        />
      </a>
      <input type="checkbox" id="nav" /><label for="nav"></label>
    </nav>
  </div>
  <div class="second"></div>
</header>
