<div class="footer">
  <div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
        <table class="footer-table">
          <tbody>
            <tr>
              <td>
                <h4>API was provided by:</h4>
                <p class="link">
                  <a href="https://api.nasa.gov/">Nasa Open API</a>
                </p>
              </td>
              <td>
                <h4>How to use?</h4>
                <p class="lorem">
                  You must choose the name of the rover, and the date you're
                  interested in.
                </p>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <td>
              <span class="text-muted"
                >made by <strong>Izabella D.</strong> with Angular 8/9.</span
              >
            </td>
          </tfoot>
        </table>
      </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarToggleExternalContent"
        aria-controls="navbarToggleExternalContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
  </div>
</div>
