<table class="styled">
  <tbody>
    <tr>
      <td>
        <div class="information">
          <h2>Information</h2>
          <ul>
            <li>
              <span class="rover-name">Curiosity:</span>
              <ul>
                <li>landing date: 2010. 08. 06.</li>
                <li>max date: -</li>
              </ul>
            </li>
            <li>
              <span class="rover-name">Opportunity:</span>
              <ul>
                <li>landing date: 2004. 01. 25.</li>
                <li>max date: 2018.06.11.</li>
              </ul>
            </li>
            <li>
              <span class="rover-name">Spirit: </span>
              <ul>
                <li>landing date: 2004. 01. 04.</li>
                <li>max date: 2010. 03. 21.</li>
              </ul>
            </li>
          </ul>
        </div>
      </td>
      <td>
        <h3>Choose the rover and date!</h3>
        <form [formGroup]="picForm" (ngSubmit)="onSubmit()" novalidate>
          <div formGroupName="nasaPic" novalidate>
            <p>Rover:</p>
            <select
              formControlName="roverName"
              class="custom-select my-1 mr-sm-2"
              required
            >
              <option *ngFor="let name of roverName" [value]="name">
                {{ name }}
              </option>
            </select>
            <p>Year:</p>
            <input
              class="form-control input-sm"
              formControlName="year"
              id="year"
              oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
              type="number"
              placeholder="E.g. 2010"
              maxlength="4"
              required
            />
            <p>Month:</p>

            <select
              id="Months"
              class="custom-select my-1 mr-sm-1"
              formControlName="month"
              required
            >
              <option
                *ngFor="let number of ' '.repeat(12).split(''); let x = index"
                [value]="x + 1"
                >{{ x + 1 }}</option
              >
            </select>
            <p>Day:</p>
            <select
              id="Days"
              class="custom-select my-1 mr-md-1"
              formControlName="day"
              required
            >
              <option
                *ngFor="let number of ' '.repeat(31).split(''); let x = index"
                [value]="x + 1"
                >{{ x + 1 }}</option
              >
            </select>
          </div>

          <button
            type="submit"
            class="btn btn-dark"
            [disabled]="!picForm.valid"
          >
            Save
          </button>
          <button
            type="reset"
            class="btn btn-dark"
            (click)="revert()"
            [disabled]="picForm.pristine"
          >
            Revert
          </button>
        </form>
      </td>
    </tr>
  </tbody>
</table>

<h2 *ngIf="choosenRoverName">
  {{ choosenRoverName }}
</h2>
<h4 *ngIf="earthDate">{{ earthDate }}</h4>
<div class="photo-container">
  <div class="row">
    <div class="col-lg-3 photorow" *ngFor="let photo of photos">
      <img
        class="card-img-top"
        [src]="photo['img_src']"
        style="cursor:zoom-in"
        [id]="photo['id']"
        alt="Card image"
        (click)="nasaService.allowModal($event)"
      />
    </div>

    <div
      *ngFor="let photo of photos"
      id="{{ 'modal-' + photo['id'] }}"
      class="w3-modal"
      onclick="this.style.display='none'"
    >
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright"
        >&times;</span
      >
      <div class="w3-modal-content w3-animate-zoom">
        <img [src]="photo['img_src']" style="width:100%" />
      </div>
    </div>
  </div>
</div>
